<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styleLogin.css') }}">
    <title>Login</title>
</head>
<body>
    <div class="wrapper">
        <div class="container">
            <div class="col-left">
                <div class="login-text">
                    <h2>Bienvenida</h2>
                    <p>Acceso de administrador<br>Por favor inicie sesión</p>
                </div>
            </div>
            <div class="col-right">
                <div class="login-form">
                    <h2>Login</h2>
                    <form method="POST" action="{{ url_for('main.login') }}">
                        {{ form.hidden_tag() }}
                        <p>
                            <label for="username">Username<span>*</span></label>
                            {{ form.username(size=32) }}
                        </p>
                        <p>
                            <label for="password">Password<span>*</span></label>
                            {{ form.password(size=32) }}
                            <!-- Eliminar el ciclo de errores -->
                        </p>
                        <p>
                            {{ form.submit() }}
                        </p>
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
