<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styleLogin.css') }}">
    <title>Login</title>
</head>
<body>
    <div class="wrapper">
        <div class="container">
          <div class="col-left">
            <div class="login-text">
              <h2>Bienvenida</h2>
              <p>Acceso de administrador<br>Por favor inicie sesion</p>
            </div>
          </div>
          <div class="col-right">
            <div class="login-form">
              <h2>Login</h2>
              <form method="POST">
                <p>
                  <label for="username">Username<span>*</span></label>
                  <input type="text" id="username" name="username" placeholder="Username or Email" required>
                </p>
                <p>
                  <label for="password">Password<span>*</span></label>
                  <input type="password" id="password" name="password" placeholder="Password" required>
                </p>
                <p>
                  <input type="submit" value="Login" />
                </p>
              </form>
            </div>
          </div>
        </div>
      </div>
</body>
</html>
